// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('https://db.onlinewebfonts.com/c/1868e326d3ee28e5395f6efa2bc037bf?family=Eina01-Regular');
@import url("https://use.typekit.net/qxu7vaj.css");

// Define fonts for body and headers
$body-font: "Eina01-Regular", "sans-serif";
$headers-font: "Eina01-Regular", "sans-serif";

@supports (font-variation-settings: normal){
  @font-face {
   font-family: "acp";
   src: font-url('acp.ttf') format('ttf');
   font-style: italic;
   font-style: normal;
 }
};

$my-font: "acp";
// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
