#about {
  display: flex;
  max-width: 900px;
  margin: 5rem auto;

  ul li {
    text-transform: uppercase;
    color: #721515;
    letter-spacing: -0.3px;
  }

  img {
    margin-left: 48.5px;
  }
}