#contact {
  max-width: 900px;
  margin: 0 auto;
}

#contact-elements {
  display: flex;
}

#contact-form {
  margin-right: 10rem;

  form {
    width: 350px;
  }
}
#contact-text {
  max-width: 400px;
}

#quote-elements {
  display: flex;
}

#quote-form {
  margin-left: 10rem;

  form {
    width: 350px;
  }
}

#quote-text {
  
}