#contact {
  max-width: 900px;
  margin: 0 auto;
}

#contact-elements {
  display: flex;
}

#contact-form {
  margin-right: 10rem;

  form {
    width: 350px;
  }
}
#contact-text {
  max-width: 400px;
}

#quote-elements {
  display: flex;
  justify-content: space-between;
  padding: 0 13rem;
}

#quote-form {
  margin-left: 10rem;

  form {
    width: 350px;
  }
}

.white  {
  color: white;
  font-size: 15px;
  margin-right: 5px;
}

.pink {
  background-color: #72151585;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 69%, 0 100%);
  height: 162vh;
  width: 100vw;

}

.contactez-nous {
  position: absolute;
  top: 500px;
  left: 0;
}

.oui {
  display: flex;
  flex-direction: row;
}

.red {
  color: #721515;
}

.top {
  font-size: 60px;
}

.ital {
  font-size: 16px;
  font-style: italic;
  font-family: "acp";
}

#contact_form_is_application, #contact_form_rgpd, #quote_rgpd {
  width: 24px;
  height: 24px;
  margin-right: 7px;
}

.weight {
  font-weight: bold;
}

.style {
  font-family: "acp";
  font-style: italic;
  font-size: 40px;
}

.button {
  color: white;
  background-color: #721515;
  font-family: "acp";
  font-style: italic;
  border: none;
  font-size: 30px;
  padding: 0.1rem 2.5rem;
}

#rgpd-checkbox {
  display: flex;
  flex-direction: row;
}

#contact_form_message, #quote_work_description {
  width: 397px;
  height: 305px;
}

.phones {
  display: flex;
  flex-direction: row;
}

.fa {
  color: #721515;
  padding: 2px;
  margin-right: 9px;
}

abbr, .stars {
  color:#721515;
}

.pad {
  padding: 5px 0;
}

.input {
  color: white;
}

#quote-form {
  position: relative;
  top: -164px;
}

.title-two {
  width: 34vw;
}

.type {
  font-size: 40px;
  margin-bottom: 28px;
}

#quote_society_name, #quote_name, #quote_email, #quote_prestation_type, #quote_work_description, #quote_rgpd {
  background-color: #C6C6C6;
}
