#expertise {
  max-width: 1440px;
  margin: 0 auto;
}

.activity {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem 0;
  margin-left: 16rem;
}

.activities-texts {
  max-width: 363px;
  margin-left: 154px;

  h2 {
    color: #595959;
    font-family: "acp";
    font-style: normal;
    font-size: 60px;
  }

  h3 {
    color: #771708;
    text-transform: uppercase;
    font-size: 20px;
  }

  p{
    font-size: 15px;
  }
}

.image-1 {
  position: absolute;
  left: 273px;
  z-index: 2;
  top: 965px;
  display: block;
}

.image-2 {
  position: absolute;
  left: 273px;
  z-index: 2;
  top: 1703px;
  display: block;
}

.image-3 {
  position: absolute;
  left: 273px;
  z-index: 2;
  top: 2442px;
  display: block;
}

.image-4 {
  position: absolute;
  left: 273px;
  z-index: 2;
  top: 3180px;
  display: block;
}
.image-5 {
  position: absolute;
  left: 273px;
  z-index: 2;
  top: 3917px;
  display: block;
}

.line {
  display: inline-block;
  height: 2px;
  width: 335px;
  background:#721515;
  position: absolute;
  left: 334px;
  transform: rotate(-53deg);
  z-index: 5;
}

.line-1 {
  top: 1185px;
}

.line-2 {
  top: 1908px;
}

.line-3 {
  top: 2640px;
}

.line-4 {
  top: 3385px;
}

.line-5 {
  top: 4124px;
}

.image-two, .image-4 {
  filter: grayscale(100%);
}

@media only screen and (min-width:767px) and (max-width: 1024px) { .image-1 { left: 14px;} .line { left: -7px; transform: rotate(-44deg);} .image-two { margin-left: -176px;} .activities-texts { margin-left: 40px;} .activities-texts p { margin-right: 37px;} .image-2 { left: 14px;} .image-3 { left: 14px;} .image-4 { left: 14px;} .image-5 { left: 14px;}}

@media only screen and (min-width:279px) and (max-width:541px) { .activity { display: flex; flex-direction: column;} .image-two { margin-left: 0px; width: 220px; height: 406px ;} .activities-texts { margin-left: 47px;} .activities-texts p { margin-right: 67px;}  .activities-texts h2 { font-size: 45px; margin-bottom: 1rem; margin-top: 1rem;} .activities-texts h3 { font-size: 18px;} .activities-texts p { font-size: 14px; margin-bottom: 0.5rem;} .line { display: none;} .image-1, .image-2, .image-3, .image-4, .image-5 { display: none; } .activity { margin-left: 0;}}
