.home-contain {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#frame-one {
  margin-top: 63px;
  margin-bottom: 23px;
  color: #595959;
}

#frame-two {
  // max-width: 1140px;
  width: 100%;
  height: 600px;
  background-color: #771708;
  margin: 3rem;
  h2 {
    padding: 3rem 6rem 0 6rem;
    color: white;
  }
}

#frame-three h2 {
  padding: 1rem 6rem 0 9rem;
  margin-bottom: 88px;
  color: #595959;
}

.start {
  color: #595959;
  display: flex;
  justify-content: flex-start;
  width: 70%;

}

#frame-four {
  width: 100%;
  background-color: #C6C6C6;
  padding: 0 0 0 0;
}

.cards {
  margin: 0 auto;
  display: flex;
}

.savoir-faire-card {
  width: 325px;
  margin: 0 1.219rem;
  img {
    width: 100%;
  }
}

.hover-one {
  position: relative;
}

.hover-one .hover-lay {
  background-color: rgba(255, 255, 255, 0.718);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
}

.hover-one:hover .hover-lay {
  opacity: 1;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.hover-one:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.sfc {
  font-size: 50px;
  font-weight: 500;
  font-family: "acp";
  color: black;
  font-style: italic;
  line-height: 40px;
}

.savoir-faire-card-title {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-family: 'adobe-caslon-pro';
  color: #974a37;
  margin: 2.438rem 0 1.563px 0;
  height: 120px;
}

.savoir-faire-card-description {
  font-size: 0.938rem;
}

.strategie {
  display: flex;
  justify-content: space-around;
}

.strategie-card {
  display: flex;
  width: 325px;
  height: 325px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  flex-direction: column;
  justify-content: center;
}

.partners-logos {
  display: flex;
  justify-content: space-evenly;
  filter: grayscale(100%);
  padding-left: 0;
  margin-bottom: 2em;

  li {
    display: flex;
    align-items: center;
  }
}

.secteurs {
  display: grid;
  grid-template-columns: 393px 393px 393px;
  grid-template-rows: 688px 688px;
  justify-content: center;
  gap: 39px;
  margin-bottom: 133px;
}

.flip-card {
  background-color: transparent;
  perspective: 1000px;
  width: 672px;
  height: 1380px;
}

.flip-card-inner {
  transition: transform 0.8s;
  transform-style: preserve-3d;
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(195, 195, 195, 0.1);
}

.grid-0:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.grid-1:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.grid-2:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.grid-3:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.grid-4:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.grid-5:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  background-color:#721515;
  color: white;
  transform: rotateY(180deg);
}

.flip-text {
  height: 100%;
    width: 80%;
    display: flex;
    font-size: 15px;
    margin: 0 20px 0 20px;
    flex-direction: column;
    justify-content: center;
    h3 {
      text-align: center;
    }
}

.number {
  position: relative;
}
.strat {
  position: absolute;
  font-size: 20px;
  font-family: "Eina01-Regular", "sans-serif";
  font-style: normal;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
  opacity: 1;
  width: 100%;
}

.opacity {
  opacity: 0.2;
  font-size: 400px;
  font-style: italic;
  color: #FFFFFF;
  font-family: "acp";
}

.vertical {
  writing-mode: vertical-rl;
  text-orientation:  sideways-left;
  color: #721515;
  transform: rotate(180deg);
  margin-right: 6px;
}

.grid {
  display: flex;
  flex-direction: row;
}

.parts {
  color: #FFFFFF;
  padding: 3rem 6rem 0 6rem;
  margin: 0;
}

#nav-tel {
  display: none;
}

.for-tel {
  display:none;
}


 @media only screen and (min-width:767px) and (max-width: 1024px) {
  .menus li {
    margin: 3px 13px;
  }
  .savoir-faire-card {
    width: 201px;
  }
  .savoir-faire-card-description {
    margin-top: 6rem;
  }
  .opacity {
    font-size: 300px;
  }
  .strat {
    font-size: 13px;
  }
  .secteurs {
    grid-template-columns: 400px;
    grid-template-rows: 691px 691px 691px 691px 691px;
    grid-auto-flow: column;
    gap: 30px;
    margin-right: 0;
    margin-bottom: 701px;
  }
  .flip-card {
    height: 188rem;
  }
  .flip-card-inner {
    width: 81%;
  }
  .vertical {
    margin: 1px;
  }
  .frame-three h2 {
    padding: 1rem 9rem 0 4rem;
  }
  .partners-logos {
    display: grid;
    justify-content: center;
    grid-template-columns: 185px 176px 235px;
    margin-bottom: 64px;
  }
  .parts {
    padding: 3rem 6rem 2rem 6rem;
  }
  #footer img {
    padding: 10px;
  }
  #footer-i {
    padding: 10px;
  }
  .moove {
    margin-left: 65px;
  }
  .sfc {
    font-size: 35px;
  }
}


 @media only screen and (min-width:279px) and (max-width:766px) {
  .navbar {
   flex-direction: row;
    padding-bottom: 0;
  }
  #nav-tel {
    display: block;
  }
  #nav-computer {
    display: none;
  }
  .collapse:not(.show) {
    display: block;
  }
  .navbar-collapse {
    flex-basis: 0;
    flex-grow: 0;
  }
  .logo {
    padding: 10px;
  }
  .dropdown-toggle {
    height: 1.5em;
    width: 1.5em;
    margin-right: 12px;
  }
  .navbar-nav .dropdown-menu {
    position: absolute;
    right: 0;
  }
  .dropdown-item {
    font-size: smaller;
  }
  .home-header-height h1 {
    font-size: 39px;
  }
  .cards {
    flex-direction: column;
  }
  .savoir-faire-card-description {
    margin-top: -1rem;
    margin-bottom: 4rem;
  }
  .phon {
    font-size: 2.4rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    padding: 0;
  }
  .frame-one {
    margin-top: 2rem;
  }
  .strategie {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .opacity {
    font-size: 150px;
  }
  .strat {
    font-size: 10px;
  }
  #frame-two h2,
  #frame-three h2,
  #frame-four h2 {
    padding: 0;
    font-size: 2rem;
    margin-top: 1rem;
  }
  #frame-two {
    height: 668px;
  }
  .strategie-card {
    height: 169px;
    width: 279px;
  }
  .secteurs {
    grid-template-columns: 249px;
    grid-template-rows: 464px 464px 464px 464px 464px;
    grid-auto-flow: column;
    gap: 30px;
    margin-right: 0;
    margin-bottom: 1150px;
  }
  .flip-card {
    width: 316px;
  }
  .flip-text {
    font-size: 13px;
  }
  .grid img {
    width: 220px;
  }
  .vertical {
    margin: 1px;
  }
  .partners-logos {
    display: grid;
    justify-content: center;
    grid-template-columns: 120px 120px;
    justify-items: center;
    gap: 10px;
    margin-top: 1rem;
  }
  .for-tel {
    display: block;
  }
  .for-computer {
    display: none;
  }
  .parts {
    padding: 3rem 6rem 2rem 6rem;
  }
  .tel-format {
    display: flex;
    justify-content: center;
  }
  #footer-i {
    text-align: center;
  }
  #footer {
    flex-direction: column;
  }
  #footer img {
    margin-bottom: 23px;
    width: 55px;
    height: 50px;
  }
  .sub {
    font-size: 10px;
  }
  .tit {
    font-size: 20px;
  }
  .partners-logos li:last-child {
    margin-left: 119px;
  }
  .tel-home {
    font-size: 2.3rem;
    text-align: center;
  }
  #logo {
    width: 41.12px;
  }
  .contain p {
    font-size: 13px;
  }
  .sfc {
    font-size: 35px;
  }
  .new {
    margin-top: 18px;
  }
  .plus {
    margin-top: -38px;
    margin-bottom: 0rem;
  }
  .card-tit {
    margin-top: 1.4rem;
    margin-bottom: -19px;
  }
  #frame-four h2 {
    font-size: 1.8rem;
  }
  #all-the-infos {
    text-align: center;
  }
}
