.home-contain {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#frame-one {
  margin-top: 63px;
  margin-bottom: 57px;
  color: #595959;
}

#frame-two {
  // max-width: 1140px;
  width: 100%;
  height: 600px;
  background-color: #771708;
  font-size: 20px;
  margin: 3rem;
  h2 {
    padding: 3rem 6rem 0 6rem;
    color: white;
  }
}

#frame-three h2 {
  margin: 3rem;
  color: #595959;
}

#frame-four {
  width: 100%;
  background-color: #C6C6C6;
  padding: 0 0 3rem 0;
}

.cards {
  margin: 0 auto;
  display: flex;
}

.savoir-faire-card {
  width: 325px;
  margin: 0 1.219rem;
  img {
    width: 100%;
  }
}

.savoir-faire-card-title {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-family: 'adobe-caslon-pro';
  color: #974a37;
  margin: 2.438rem 0 1.563px 0;
  height: 120px;
}

.savoir-faire-card-description {
  font-size: 0.938rem;
}

.strategie {
  display: flex;
  justify-content: space-around;
}

.strategie-card {
  color: white;
  display: flex;
  width: 325px;
  height: 325px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  font-size: 1.2rem;
  flex-direction: column;
  justify-content: center;
}

.partners-logos {
  display: flex;
  justify-content: space-evenly;

  li img {
    height: 3.5rem;
  }
}

.secteurs {
  display: grid;
  width: 100vw;
  grid-template-columns: repeat(3, 325px);
  justify-content: center;
  gap: 73px; 
}