.prestation {
  display: flex;
  align-items: center;
  margin: 0;

  img {
    width: 50%
  }

  h2 {
    font-size: 50px;
    color: #595959;
    font-family: "acp";
    font-style: italic;
  }

  h3 {
    color: #991818;
    text-transform: uppercase;
    font-size: 20px;
    font-style: normal;
    font-family: "acp";
  }

  p {
    font-size: 15px;
  }
}

 @-moz-document url-prefix() {
   .prestation img {
     width: 136%;
   }
 }


.align-right {
  flex-direction: row-reverse;
}

.text-align-right {
  margin: 0 124px 0 113px;
}

.text-align-left {
  margin: 0 136px 0 166px;
}

.baille-one {
  position: relative;
  left: 195px;
  top: -119px;
  width: 308px !important;
  height: 438px;
}

.baille-two {
  position: relative;
  z-index: 3;
  left: 349px;
  top: -206px;
  width: 308px !important;
  height: 310px;
  display: block;
}

.line-prestation {
  height: 2px;
  width: 849px;
  background: #721515;
  position: relative;
  top: -531px;
  left: -12px;
  transform: rotate(59deg);
  z-index: 4;
  display: block;
}

.pics-prestation {
  width: 50vw;
  margin-bottom: 85px;
}

.baille-three {
  margin-top: 83px;
  margin-bottom: 48px;
}

.some-marge {
  margin-bottom: 80px;
}

.pics-prestation-two {
  width: 50vw;
  margin-bottom: 136px;
}

.last {
  margin-bottom: 80px;
}

@media only screen and (min-width:767px) and (max-width: 1024px) { .prestation h2 { font-size: 40px; margin-bottom: 1rem;} .text-align-left, .text-align-right { margin: 0 20px;} .prestation h3 { font-size: 16px;} .prestation p { font-size: 13px; margin-bottom: 2rem;} .baille-one { left: 38px; top: 0px; width: 251px !important; height: 362px; margin: 2rem 4rem 2rem 0;} .baille-two { display: none;} .line-prestation { display: none;} .baille-three { margin-top: 25px;} .pics-prestation-two { margin-bottom: -10px;} .pics-prestation { margin-bottom: 0;}}

@media only screen and (min-width:279px) and (max-width:766px) {.prestation h2 {
font-size: 38px; margin-bottom: 1rem; margin-top: 1rem;}.text-align-left, .text-align-right { margin: 0 20px;} .prestation h3 { font-size: 16px;} .prestation p { font-size: 13px; margin-bottom: 2rem; margin-top: 27px; } .baille-one { position: inherit; width: 255px !important; height: auto;} .baille-two { display: none;} .line-prestation { display: none; } .baille-three { margin-top: 25px; }
.pics-prestation-two { margin-bottom: -10px; } .pics-prestation, .pics-prestation-two {  margin-bottom: 0; width: 100%; display: flex; justify-content: center;} .prestation { flex-direction: column;} .prestation img { width: 80%; margin-top: 2rem;}}
