<div id="footer">
  <%= image_tag('logo.png') %>
  <div id="footer-i">
    <h3 class="tit">Informations</h3>
    <p class="sub">
      Parc de la Roseraie Bat. A1<br>
      20 Traverse de la Buzine<br>
      13011 Marseille
    </p>
    <p class="sub">04 91 44 90 11</p>
    <p class="sub">04 91 44 89 58</p>
  </div>
  <div id="footer-i">
    <h3 class="tit">A propos</h3>
    <p class="sub">Du lundi au vendredi <br> De 9h00 à 18h00</p>
  </div>
  <div id="footer-i">
    <h3 class="tit">Mentions légales</h3>
    <p class="sub">
      AUT 013-2113-07-14-20140385158 Article L612-14 – Modifié par LOI<br>
      n°2014-742 du 1er juillet 2014 – art. 7 :<br>
      L’autorisation d’exercice ne confère aucune<br>
      prérogative de puissance publique à l’entreprise<br>
      ou aux personnes qui en bénéficient.
    </p>
  </div>
</div>
