<div id="footer">
  <%= image_tag('logo.png') %>
  <div id="footer-infos">
    <h3>Informations</h3>
    <p>
      Parc de la Roseraie Bat. A1<br>
      20 Traverse de la Buzine<br>
      13011 Marseille
    </p>
    <p>04 91 44 90 11</p>
    <p>04 91 44 89 58</p>
  </div>
  <div id="footer-a-propos">
    <h3>A propos</h3>
    <p>Du lundi au vendredi De 9h00 à 18h00</p>
  </div>
  <div id="footer-mentions">
    <h3>Mentions légales</h3>
    <p>
      AUT 013-2113-07-14-20140385158 Article L612-14 – Modifié par LOI<br>
      n°2014-742 du 1er juillet 2014 – art. 7 :<br>
      L’autorisation d’exercice ne confère aucune<br>
      prérogative de puissance publique à l’entreprise<br>
      ou aux personnes qui en bénéficient.
    </p>
  </div>
</div>