<div class="<%= @header == "header-home.jpg" ? 'home-header-height' : 'banner' %>" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path(@header) %>);">
  <div class="contain">
    <p>L'AZUREENNE DE PROTECTION</p>
    <h1><%= @h1 %></h1>
  </div>
</div>
<% console %>