<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path('header-home.jpg') %>);">
  <div class="contain">
    <p>L'AZUREENNE DE PROTECTION</p>
    <h1>Mieux vaut prévenir<br>
      que guérir...
    </h1>
  </div>
</div>
