<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(http://via.placeholder.com/1440x745);">
  <div class="container">
    <h1>Pour se servir de sa raison,
      <br>on a besoin de sécurité
      <br>et de quiétude
    </h1>
  </div>
</div>
