<div class="<%= @header == "header-home.jpg" ? 'home-header-height' : 'banner' %>" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path(@header) %>);">
  <div class="contain">
    <p>L'AZUREENNE DE PROTECTION</p>
    <h1>
      <% if @header == "header-home.jpg" %>
        Mieux vaut prévenir<br>
        que guérir...
      <% elsif @header == "header-about.jpg" %>
        Qui sommes-nous ?
      <% elsif @header == "header-activities.jpg" %>
        Nos secteurs d'activités
      <% end %>
    </h1>
  </div>
</div>