<div class="navbar">
  <div class="logo">
  <%= image_tag('logo.png', alt: "L'azuréenne protection", id: 'logo') %>
  </div>
  <ul class="menus">
    <% if false %>
      <li><a href="#">Accueil</a></li>
      <li>|</li>
    <% end %>
      <li><a href="#">QUI SOMMES-NOUS ?</a></li>
      <li>|</li>
      <li><a href="#">EXPERTISE</a></li>
      <li>|</li>
      <li><a href="#">SECTEURS D'ACTIVITÉ</a></li>
      <li>|</li>
      <li><a href="#">PRESTATIONS</a></li>
      <li>|</li>
      <li><a href="#">CONTACT</a></li>
  </ul>
</div>