<div class="navbar">
  <div class="logo">
    <%= link_to image_tag('logo.png', alt: "L'azuréenne protection", id: 'logo'), root_path %>
  </div>
  <ul class="menus">
      <li><%= link_to 'QUI SOMMES-NOUS ?', qui_sommes_nous_path %></li>
      <li>|</li>
      <li><%= link_to 'EXPERTISE', expertise_path %></li>
      <li>|</li>
      <li><a href="#">SECTEURS D'ACTIVITÉ</a></li>
      <li>|</li>
      <li><a href="#">PRESTATIONS</a></li>
      <li>|</li>
      <li><a href="#">CONTACT</a></li>
  </ul>
</div>