<div class="navbar">
  <img id="logo" src="../../assets/images/logo.png" alt="L'azuréenne-logo">
  <div>
    <ul class="menus">
      <li><a href="#">Accueil</a></li>
      <li>|</li>
      <li><a href="#">Qui sommes-nous ?</a></li>
      <li>|</li>
      <li><a href="#">Expertise</a></li>
      <li>|</li>
      <li><a href="#">Secteurs d'activité</a></li>
      <li>|</li>
      <li><a href="#">Prestations</a></li>
      <li>|</li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
</div>