<div id="about">
  <div id="about-text">
    <h2>La société de sécurité</h2>
    <p>Quelque soit la nature de l’établissement concerné :</p>
    <ul>
      <li>Bailleurs sociaux et copropriétés</li>
      <li>Etablissements recevant du public (ERP)</li>
      <li>Immeuble de grande hauteur (IGH)</li>
      <li>Sites industriels</li>
      <li>Sites en construction</li>
      <li>Villa individuelle...</li>
      <li></li>
    </ul>
    <p>Les équipes de la société PROTECTION + jouent 
      <span>un rôle primordial pour prévenir</span> tous risques de sinistres 
      et de panique, dans un contexte accidentel et 
      malveillant.
    </p>
    <p>
      Nous souscrivons à une véritable charte 
      <span>garantissant le respect de la déontologie de la profession et une transparence</span> réelle 
      quant au respect de la législation dans tous les domaines concernés. 
      <span>Cette loyauté envers nos clients</span> nous a forgé une autorité désormais reconnue.
    </p>
  </div>
  <%= image_tag('about-police.jpg') %>
</div>
