<div id="about">
  <div id="about-text">
    <h2>La société <br> de sécurité</h2>
    <p>Quelque soit la nature de l’établissement concerné :</p>
    <ul>
      <li>- Bailleurs sociaux et copropriétés</li>
      <li>- Résidences et restauration rapide</li>
      <li>- Sites industriels</li>
      <li>- Sites en construction</li>
      <li>- Villa individuelle...</li>
      <li></li>
    </ul>
    <p>Les équipes de la société l'Azuréenne de protection jouent
      <span class="dif">un rôle primordial pour prévenir</span> tous risques de sinistres
      et de panique, dans un contexte accidentel et
      malveillant.
    </p>
    <p>
      Nous souscrivons à une véritable charte
      <span class="dif">garantissant le respect de la déontologie de la profession et une transparence</span> réelle
      quant au respect de la législation dans tous les domaines concernés. <br>
      <span class="dif">Cette loyauté envers nos clients</span> nous a forgé une autorité désormais reconnue.
    </p>
  </div>
  <div class="stick-to">
    <%= image_tag('about-police.png') %>
    </div>
  </div>
</div>
