<div id="expertise">
  <h2>Nos expertises : une triple stratégie</h2>

  <div class="expertise-grid">
    <div>
      <h3>DIAGNOSTIC</h3>
      <p>Avant chaque intervention, PROTECTION+ réalise un diagnostic.</p>
      <ul>
        <li>En <strong>identifiant les risques</strong> et en les hiérarchisant.</li>
        <li>En <strong>repérant les failles d’insécurité.</strong></li>
        <li>En élaborant <strong>un plan d’action en accord aux législations et procédures du site ou de l’entreprise.</strong></li>
        <li>En consolidant les facteurs qui contribuent à une <strong>meilleure prévention.</strong></li>
      </ul>
    </div>
    <div>
      <%= image_tag('prestation-accueil.jpg', width: '100%') %>
    </div>
    <div>
      <h3>PROFESSIONNALISME</h3>
      <p>
        Vous rencontrerez au sein de notre entreprise, des hommes dynamiques en excellente condition physique, 
        ayant une grande capacité d’adaptation et une véritable vocation de la protection des biens et des personnes.
      </p>
      <p>
        Notre expérience due à de nombreuses interventions et opérations fait de <strong>l'Azuréenne une société différente où 
        notre professionnalisme et notre vécu nous distinguent par la qualité de nos prestations quelque soit la zone géographique.</strong>
      </p>
    </div>
    <div>
      <%= image_tag('prestation-accueil.jpg', width: '100%') %>
    </div>
    <div>
      <h3>SUIVI TERRAIN</h3>
      <p>
        La <strong>souplesse</strong> et <strong>l’adaptabilité</strong> de la société l'Azuréenne ainsi que notre <strong>capacité de réaction</strong>, 
        permettent de coller en permanence aux attentes de nos clients.
      </p>
      <p>
        Le suivi des actions mises en place est assuré par nos équipes. Cet encadrement est réalisé par <strong>de véritables 
        professionnels de la Sécurité.</strong> Chaque chef de secteur dispose d’une solide expérience dans le domaine dont il a la responsabilité.
      </p>
      <p>
        Sérieux de notre engagement sur la plan de l’assurance qualité, <strong>tous nos agents possèdent l’agrément 
        préfectoral ASP, SST, EPI</strong>, et certains SSIAP1, SSIAP2, SSIAP3 et HOBO (services relatifs aux normes et aux procédures).
      </p>
    </div>
    <div>
      <%= image_tag('prestation-accueil.jpg', width: '100%') %>
    </div>
  </div>
</div>