<%= render 'shared/header' %>

<div class="frame-one">
  <h2>Notre savoir faire</h2>

  <div class="cards">
    <div class="savoir-faire-card">
      <img class="savoir-faire-card-img" src="http://via.placeholder.com/300x300" alt="azureenne securité - le rempart">
      <p class="savoir-faire-card-title">La société de sécurité protection + est le rempart actif de votre sécurité</p>
      <p class="savoir-faire-card-description">
        La compétence de nos agents, augmentée de la maîtrise de nos techniques font de la société de sécurité PROTECTION + 
        votre partenaire indispensable et incontournable.
      </p>
    </div>
  </div>
</div>

