<%= render 'shared/header' %>

<div class="frame-one">
  <h2>Notre savoir faire</h2>

  <div class="cards">
    <div class="savoir-faire-card">
      <img class="savoir-faire-card-img" src="" alt="">
      <p class="savoir-faire-card-title"></p>
      <p class="savoir-faire-card-description"></p>
    </div>
  </div>
</div>

