#footer {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  background-color: #721515;
  padding: 3rem 0;
  color: #FFFFFF;
  font-size: 0.85rem;
  
  img {
    width: 74px;
    height: 74px;
  }
}