#footer {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  background-color: #721515;
  padding: 3rem 0;
  color: #FFFFFF;
  
  img {
    width: 74px;
    height: 74px;
  }
}

.sub {
  font-size: 15px;
}

.tit {
  font-size: 30px;
}