.menus {
  display: flex;
  margin-right: 3rem;
  margin-bottom: 0;

  li {
    margin: 0 20px;
  }
}

#logo {
  margin-bottom: 0.8rem;
  height: 39.74px;
  width: 50.12px;
}

.navbar {
  flex-direction: column;
}
