.menus {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 0.4em;
  padding-left: 0;
  font-size: 13px;

  li {
    margin: 3px 38px;
    font-weight: bold;
  }
}

#logo {
  margin-bottom: 0.8rem;
  width: 50.12px;
}

.navbar {
  display: flex;
  flex-direction: column;
}
